body{
  color: black;
  padding-right: 0!important;
  max-width: 430px;
  background: rgba(0, 0, 0, 0.098);
  margin: 0 auto;
  position: relative;
  font-family: Montserrat;
}
.background{
  background: black;
  position: relative;
  .popup-LogIn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    &.active{
      transition: opacity 0.3s ease-in-out;
      background: rgba(70, 70, 70, 1);
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
    .position{
      height: 100%;
      position: relative;
      .background-top{
        height: 100%;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        margin-top: 13vh;
        gap: 20px;
        .close{
          display: flex;
          justify-content: end;
          i{
            color: rgba(255, 255, 255, 0.698);
            font-size: 24px;
            font-weight: 700;
          }
        }
        .logo{
          display: flex;
          justify-content: center;
          width: 240px;
          height: auto;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .nav-pills{
          .nav-item{
            display: flex;
            text-align: center;
            justify-content: center;
            button{
              margin: 0;
              padding: 0;
              background: none;
              border: none;
              color: rgba(255, 255, 255, 0.4);
              text-transform: none;
              &.active{
                color: white;
              }
            }
          }
        }
        .tab-content{
          &-shared{
            position: relative;
            text-align: center;
            border: 1px solid transparent;
            border-image-source: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
            border-image-slice: 1;
            background: rgba(32, 32, 31, 1);
            padding: 24px;
            &::after {
              content: "";
              position: absolute;
              bottom: 100%;
              transform: translateX(-50%);
              border-width: 13px;
              border-style: solid;
              border-color: transparent transparent #FFDD69 transparent; /* Màu của mũi tên */
            }
            &.login{
              &::after{
                left: 25%;
              }
            }
            &.signIn{
              &::after{
                right: 25%;
              }
            }

          }
          .formLogin{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .forgetPass{
              display: flex;
              justify-content: end;
              color: rgba(255, 41, 41, 1);
              font-size: 12px;
            }
            .group{
              position: relative;
              gap: 10px;
              &.group-phone{
                input{
                  padding-left: 70px;
                }
              }
              input{
                padding-left: 30px;
              }
              .star{
                position: absolute;
                display: flex;
                align-items: center;
                gap: 5px;
                top: 0;
                left: 10px;
                bottom: 0;
                img{
                  width: 16px;
                  height: 16px;
                }
                .number{
                  background: rgba(255, 255, 255, 0.098);
                  color: white;
                  font-size: 12px;
                  padding: 8px;
                }
              }
              .eye{
                position: absolute;
                top: 3px;
                right: 10px;
                bottom: 0;
              }
            }
            .input{
              padding: 8px;
              width: 100%;
              background: rgba(0, 0, 0, 0.8);
              border-radius: 100px;
              border: 1px solid rgba(255, 255, 255, 0.298);
              font-size: 12px;
              color: rgba(255, 255, 255, 0.4);
            }
            .form-check{
              display: flex;
              align-items: center;
              &-input{
                margin-right: 10px;
                width: 1rem;
                height: 1rem;
                &:checked:focus{
                  color: rgba(34, 146, 250, 1);
                  background: none;
                }
              }
              &-label{
                display: flex;
                text-align: left;
                font-size: 12px;
                color: white;
              }
            }
            .buttonSuccess{
              font-size: 16px;
              width: 80%;
              padding: 8px;
              display: flex;
              justify-content: center;
              background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
              border-radius: 100px;
              margin: auto;
              border: none;
            }
          }
        }
      }
    }
  }

}
.home{
  .modal-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    max-width: 300px;
    margin: auto;
    .modal-content{
      background-color: transparent;
      .modal-body{
        padding: 0px;
        .swiper-slide{
          border-radius: 7px;
          height: 64vh;
          width: auto;
          img{
            width: 100%;
            height: 60vh;
            object-fit: contain;
            border-radius: 7px;
          }
        }
        .swiper-pagination{
          .swiper-pagination-bullet{
            opacity: 10;
            background: rgba(217, 217, 217, 1);
          }
          .swiper-pagination-bullet-active{
            background: rgba(255, 229, 0, 1);
          }
        }
      }
      .modal-footer{
        border-top: none;
        justify-content: center;
        button{
          background: transparent;
          padding: 0;
        }
      }
    }
  }
  .Notification{
    .modal-dialog{
      max-width: 270px;
      .modal-content{
        .modal-body{
          padding: 16px;
          height: 40vh;
          position: relative;
          background: white;
          border-radius: 16px;
          .img-left{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            img{
              width: 100%;
              height: auto;
            }
          }
          .img-right{
            position: absolute;
            top: -25%;
            right: 0;
            img{
              width: 100%;
              height: auto;
            }
          }
          .img-bottom{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            img{
              width: 100%;
              height: 32vh;

            }
          }
          .text{
            position: absolute;
            top: 5%;
            left: 5%;
            font-size: 16px;
            font-weight: 600;
          }
          .notificationSwiper{
            margin-top: 12vh;
            .swiper-wrapper{
              height: 25vh;
              .swiper-slide{
                height: max-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .title{
                  color: black;
                  font-size: 12px;
                  font-weight: 500;
                  display: flex;
                  text-align: center;
                }
                .content{
                  color: black;
                  font-size: 12px;
                  display: flex;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
.Information, .Reward{
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}


//HEADER
.header{
  position: relative;
  background: black;
  &.header-Promotion{
    background: black;
    .header-left{
      i{
        font-size: 16px;
      }
    }
    .header-right{
      .logo{
        font-size: 16px;
      }
    }
  }
  &.header-Information{
    background: rgb(68 64 64 / 80%);
    .header-left{
      i{
        font-size: 16px;
      }
    }
    .header-right{
      .logo{
        font-size: 16px;
      }
    }
  }
  &.header-Setting{
    background: white;
    .header-left{
      i{
        color: black;
        font-size: 16px;
      }
    }
    .header-right{
      .logo{
        color: black;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  &.headerReward{
    padding: 10px 16px;
    background: rgba(68, 64, 64, 0.8);
    display: flex;
    justify-content: space-between;
    .headerReward-left{
      a{
        i{
          color: white;
          font-size: 16px;
        }
      }
    }
    .headerReward-center{
      font-size: 16px;
      color: white;
    }
    .headerReward-right{
      .madoi{
        font-size: 12px;
        color: black;
        padding: 8px;
        border-radius: 16px;
        font-weight: 500;
        background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
        box-shadow: none;
      }
      .modal-dialog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 92vh;
        max-width: 343px;
        margin: auto;
        .modal-content{
          border-radius: 16px;
          .modal-header{
            border: none;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(180deg, #FFDD69 0%, #FFA720 100%);
            color: black;
            border-radius: 16px 16px 0px 0px;
            padding: 8px;
            h5{
              margin: auto;
            }
          }
          .modal-body{
            padding-bottom: inherit;
            border: none;
            input{
              background: rgba(0, 0, 0, 0.098);
              padding: 8px;
              border-radius: 8px;
              font-size: 16px;
              font-weight: 400;
            }
          }
          .modal-footer{
            border: none;
            display: flex;
            justify-content: center;
            button{
              text-transform: none;
              display: flex;
              justify-content: center;
              width: 80%;
              background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
              padding: 8px 16px 8px 16px;
              border-radius: 16px;
              color: black;
            }

          }
        }
      }
      .loc{
        font-size: 12px;
        color: white;
      }
    }

  }
  &-left{
    position: absolute;
    top: 15%;
    left: 2%;
    align-items: start;
    .position{
      position: relative;
      a{
        i{
          color: rgba(255, 255, 255, 1);
          margin: 10px;
          font-size: 18px;
          opacity: 0.7;
        }
      }
      i{
        font-size: 16px;
        color: white;
      }
      .menu{
        position: absolute;
        top: -5px;
        left: 100%;
        height: 100vh;
        width: 270px;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        &.active {
          transition: right 0.9s ease-in-out, opacity 0.5s ease-in-out;
          left: -8px;
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
        .list{
          position: fixed;
          height: 100vh;
          width: 270px;
          .menu-header{
            background: #332d2d;
            height: 16vh;
          }
          .menu-body{
            overflow-y: auto;
            height: inherit;
            background: white;
            display: flex;
            flex-direction: column;
            .item{
              padding: 10px;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.4);
              border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
  &-right{
    padding: 8px 0;
    align-items: center;
    .logo{
      color: white;
      display: flex;
      margin: auto;
      &.user{
        color: white;
        font-size: 16px;
      }
      a{
        img{
          height: 20px;
          width: 100%;
        }
      }
    }
  }
  &-bottom{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0980392) 0%, rgba(0, 0, 0, 0.0980392) 50.47%, rgba(255, 255, 255, 0.0980392) 100%);
    padding: 8px 0;
    gap: 20px;
    align-items: center;
    &-avt{
      .avt{
        width: 74px;
        height: 74px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
      }
    }
    &-login, &-signIn{
      display: flex;
      text-align: center;
      .login, .signIn{
        white-space: nowrap;
        height: max-content;
        border-radius: 16px;
        font-size: 12px;
        color: black;
        width: 100%;
      }
    }
    &-login{
      .login{
        padding: 5px;
        background: linear-gradient(0deg, #FFCF2C 0%, #FFFFFF 50%, #FFCF2C 100%);
      }
    }
    &-signIn{
      .signIn{
        padding: 5px 15px;
        background: linear-gradient(0deg, #ED8381 0%, #FFFFFF 50%, #ED8381 100%);
      }
    }
    .info{
      justify-content: space-between;
      padding: 15px 0px;
      align-items: center;
      &-left{
        gap: 10px;
        display: flex;
        align-items: center;
        .avatar{
          width: 74px;
          height: 74px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .name{
          &_class{
            display: flex;
            gap: 20px;
            padding-bottom: 8px;
            .user{
              color: rgba(255, 198, 0, 1);
              font-size: 16px;
            }
            .hang{
              width: 72px;
              height: 24px;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          &_note{
            color: white;
            font-size: 12px;
          }
        }
      }
      .notification{
        background: rgba(255, 255, 255, 0.098);
        padding: 4px 8px;
        border-radius: 100px;
        align-items: center;
        gap: 8px;
        img{
          width: 24px;
          height: 24px;
        }
        .text{
          color: white;
          font-size: 12px;
        }

      }
    }
  }
  .button-icon{
    background: none;
    border: none;
  }
}
.close_menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: 0.5s;
  &.active{
    z-index: 2;
  }
}



//BODY
.body{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 11vh;
  .banner{
    width: 100%;
    height: 14vh;
    .swiper{
      height: inherit;
      img{
        width: 100%;
        height: 100%;
      }
      &-pagination{
        &-bullet{
          background: rgba(255, 198, 0, 1);
        }
      }
    }
  }

  .news{
    align-items: center;
    gap: 15px;
    a{
      color: black;
      background: linear-gradient(270deg, #FFE600 0%, #FFBE1A 100%);
      font-size: 12px;
      padding: 2px 10px;
      border-radius: 4px;
    }
    &-content{
      font-size: 12px;
      color: white;
    }
  }

  .function{
    justify-content: space-between;
    align-items: center;
    &.function-user{
      border-radius: 4px;
      margin: 15px 0px 0px 0px;
      padding: 10px 0;
      background: rgba(36, 36, 36, 1);
    }
    &-login, &-signIn{
      white-space: nowrap;
      display: flex;
      text-align: center;
      button{
        height: max-content;
        border-radius: 16px;
        font-size: 12px;
        color: black;
        width: 100%;
      }
    }
    &-login{
      .login{
        text-transform: none;
        padding: 5px 3px;
        background: linear-gradient(0deg, #FFCF2C 0%, #FFFFFF 50%, #FFCF2C 100%);
      }
    }
    &-signIn{
      .signIn{
        text-transform: none;
        padding: 5px;
        background: linear-gradient(0deg, #ED8381 0%, #FFFFFF 50%, #ED8381 100%);
      }
    }
    &-recharge, &-withdrawMoney, &-reward, &-addFriend{
      .icon-css{
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img{
          width: 32px;
          height: 32px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 16px;
            height: 16px;
          }
        }
        .content{
          white-space: nowrap;
          font-size: 12px;
          color: white;
        }
      }
    }
    &-recharge{
      .icon-css {
        .img {
          background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
        }
      }
    }
    &-withdrawMoney{
      .icon-css{
        .img {
          background: linear-gradient(180.59deg, #536EFF -34.55%, #191E93 99.49%);
        }
      }
    }
    &-reward, &-addFriend{
      a {
        .img {
          background: linear-gradient(0deg, #12B347 0%, #3EFF3A 100%);

        }
      }
    }
    .functionSurplus{
      &-top{
        display: flex;
        gap: 10px;
        align-items: flex-end;
        .icon{
          img{
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
        .icon-refresh{
          background: none;
          border: none;
          img{
            width: 16px;
            height: 16px;
            object-fit: contain;
          }
        }
        .text{
          font-size: 16px;
          color: white;
        }
      }
      &-bottom{
        color: rgba(255, 198, 0, 1);
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .suggest{
    &-name{
      padding: 10px 0;
      display: flex;
      gap: 15px;
      .hot{
        border-bottom: 2px solid rgba(255, 198, 0, 1);
        text-transform: uppercase;
        color: rgba(255, 198, 0, 1);
        font-size: 16px;
        font-weight: 500;
      }
      .play-regularly{
        font-size: 16px;
        color: white;
      }
    }
    &-list{
      .item{
        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          .img{
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .name{
            font-size: 12px;
            max-width: 53px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
          }
        }
      }
    }
  }

  .categories{
    &-name{
      display: flex;
      flex-direction: column;
      gap: 15px;
      .nav-item{
        .nav-link{
          width: 100%;
          height: 12vh;
          padding: 0;
          gap: 5px;
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          align-items: center;
          justify-content: center;
          background: rgba(42, 42, 42, 1);
          border: none;
          &.active{
            background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
            .img{
              img{
                filter: sepia(1) hue-rotate(300deg) saturate(4) brightness(0.2);
              }
            }
            .name{
              color: rgba(42, 42, 42, 1);
            }
          }
          .img{
            width: 32px;
            height: 32px;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .img-color{
            img{
              filter: sepia(2) hue-rotate(15deg) saturate(3) brightness(4);
            }
          }
          .name{
            white-space: nowrap;
            color: rgba(255, 234, 164, 1);
          }
        }
      }
    }
    &-content{
      .item{
        padding: 10px;
        a{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .img{
            width: 100%;
            margin-bottom: 5px;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
              border: 6px;
            }
          }
          .name{
            font-size: 10px;
            color: white;
          }
        }
      }
    }
  }

  .total-refund{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 10px 20px;
    background: rgba(36, 36, 36, 1);
    &-left{
      display: flex;
      gap: 8px;
      align-items: center;
      .logo{
        width: 32px;
        height: 32px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .text{
        color: white;
        font-size: 12px;
        img{
          margin-left: 5px;
          width: 16px;
          height: 16px;
        }
      }
    }
    &-right{
      a{
        font-weight: 500;
        padding: 8px;
        border-radius: 16px;
        font-size: 12px;
        color: black;
        background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
      }
    }
  }

  .my-account{
    margin-top: 30px;
    .title{
      padding-left: 10px;
      color: white;
      font-size: 16px;
      border-left: 2px solid white;
      margin-bottom: 20px;
    }
    .content{
      border-radius: 4px;
      padding: 10px 20px;
      background: rgba(36, 36, 36, 1);
      margin-top: 5px;
      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .img{
          width: 32px;
          height: 32px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .first-two-words {
          display: block;
        }
        .textDown{
          display: inline-block;
          color: white;
          font-size: 12px;
        }
      }
    }
  }

  .service{
    margin-top: 20px;
    .title{
      padding-left: 10px;
      color: white;
      font-size: 16px;
      border-left: 2px solid white;
      margin-bottom: 20px;
    }
    .content{
      border-radius: 4px;
      margin-top: 5px;
      .item{
        height: 12vh;
        margin-bottom: 20px;
        border-radius: 8px;
        background: rgba(36, 36, 36, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .img{
          width: 32px;
          height: 32px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .first-two-words {
          display: block;
        }
        .textDown{
          display: inline-block;
          color: white;
          font-size: 12px;
        }
      }
    }
  }

  .popup-LogIn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    &.active{
      transition: opacity 0.3s ease-in-out;
      background: rgba(70, 70, 70, 1);
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
    .position{
      height: 100%;
      position: relative;
      .background-top{
        height: 100%;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        margin-top: 13vh;
        gap: 20px;
        .close{
          display: flex;
          justify-content: end;
          i{
            color: rgba(255, 255, 255, 0.698);
            font-size: 24px;
            font-weight: 700;
          }
        }
        .logo{
          display: flex;
          justify-content: center;
          width: 240px;
          height: auto;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .nav-pills{
          .nav-item{
            display: flex;
            text-align: center;
            justify-content: center;
            button{
              margin: 0;
              padding: 0;
              background: none;
              border: none;
              color: rgba(255, 255, 255, 0.4);
              text-transform: none;
              &.active{
                color: white;
              }
            }
          }
        }
        .tab-content{
          &-shared{
            position: relative;
            text-align: center;
            border: 1px solid transparent;
            border-image-source: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
            border-image-slice: 1;
            background: rgba(32, 32, 31, 1);
            padding: 24px;
            &::after {
              content: "";
              position: absolute;
              bottom: 100%;
              transform: translateX(-50%);
              border-width: 13px;
              border-style: solid;
              border-color: transparent transparent #FFDD69 transparent; /* Màu của mũi tên */
            }
            &.login{
              &::after{
                left: 25%;
              }
            }
            &.signIn{
              &::after{
                right: 25%;
              }
            }

          }
          .formLogin{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .forgetPass{
              display: flex;
              justify-content: end;
              color: rgba(255, 41, 41, 1);
              font-size: 12px;
            }
            .group{
              position: relative;
              gap: 10px;
              &.group-phone{
                input{
                  padding-left: 70px;
                }
              }
              input{
                padding-left: 30px;
              }
              .star{
                position: absolute;
                display: flex;
                align-items: center;
                gap: 5px;
                top: 0;
                left: 10px;
                bottom: 0;
                img{
                  width: 16px;
                  height: 16px;
                }
                .number{
                  background: rgba(255, 255, 255, 0.098);
                  color: white;
                  font-size: 12px;
                  padding: 8px;
                }
              }
              .eye{
                position: absolute;
                top: 3px;
                right: 10px;
                bottom: 0;
              }
            }
            .input{
              padding: 8px;
              width: 100%;
              background: rgba(0, 0, 0, 0.8);
              border-radius: 100px;
              border: 1px solid rgba(255, 255, 255, 0.298);
              font-size: 12px;
              color: rgba(255, 255, 255, 0.4);
            }
            .form-check{
              display: flex;
              align-items: center;
              &-input{
                margin-right: 10px;
                width: 1rem;
                height: 1rem;
                &:checked:focus{
                  color: rgba(34, 146, 250, 1);
                  background: none;
                }
              }
              &-label{
                display: flex;
                text-align: left;
                font-size: 12px;
                color: white;
              }
            }
            .buttonSuccess{
              font-size: 16px;
              width: 80%;
              padding: 8px;
              display: flex;
              justify-content: center;
              background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
              border-radius: 100px;
              margin: auto;
              border: none;
            }
          }
        }
      }
    }
  }

  .modal-Transfer{
    .modal-dialog{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 430px;
      .modal-content{
        background: black;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 80%);
        border: 2px solid #d38805;
        border-radius: 10px;
        .modal-header{
          display: flex;
          align-items: baseline;
          padding: 0;
          border: none;
          button{
            background: none;
            border: none;
            i{
              color: white;
            }
          }
        }
        .modal-body{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .nav-pills{
            border-bottom: 1px solid #d38805;
            padding-bottom: 10px;
            width: 100%;
            .nav-item{
              height: auto;
              button{
                height: 100%;
                font-size: 12px;
                text-transform: none;
                margin: 0;
                width: 100%;
                background: none;
                color: white;
                border-radius: inherit;
                padding: 10px 5px;
                &.active{
                  background: #ffcc00;
                  color: black;
                }
              }
            }
          }
          .tab-content{
            width: 100%;
            padding: 0 10px 20px 10px;
            display: flex;
            margin: auto;
            .tab-content-shared{
              width: 100%;
              .formLogin{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .list-bottom{
                  gap: 10px;
                  display: flex;
                  justify-content: space-between;
                  .item{
                    background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
                    border-radius: 10px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    width: 100%;
                    .text{
                      text-transform: uppercase;
                      color: black;
                      font-size: 15px;
                      font-weight: 700;
                    }
                    .number{
                      font-weight: 600;
                      text-transform: uppercase;
                      color: white;
                    }
                    .icon{
                      position: absolute;
                      top: -15px;
                      left: -10px;
                    }
                  }
                }
                .title-select{
                  text-transform: uppercase;
                  color: white;
                  margin-top: 10px;
                }
                .title{
                  text-transform: uppercase;
                  color: white;
                }
                .form-select{
                  border: solid 2px #fed720;
                  padding: 0px 20px;
                  box-sizing: border-box;
                  color: #6b6b6b;
                  font-weight: 300;
                  font-size: 18px;
                  height: 50px;
                  box-shadow: inset 0px 0px 10px 1px rgb(0 0 0 / 80%);
                }
                .input_text{
                  border-radius: 30px;
                  border: solid 2px #fed720;
                  padding: 0px 20px;
                  box-sizing: border-box;
                  color: #6b6b6b;
                  font-weight: 300;
                  font-size: 18px;
                  height: 50px;
                  box-shadow: inset 0px 0px 10px 1px rgb(0 0 0 / 80%);
                }
                .buttonSuccess{
                  margin-top: 10px;
                  padding: 5px 10px;
                  font-size: 20px;
                  font-weight: bold;
                  color: #fff;
                  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
                  width: max-content;
                  border-radius: 30px;
                }
                .successDeposit{
                  background-color: #337ab7;
                  border: 0;
                  color: #fff;
                  text-transform: uppercase;
                  font-weight: bold;
                  width: max-content;
                  font-size: 12px;
                }
              }

              .remember{
                margin-top: 10px;
                color: #ff1212;
                font-size: 12px;
                font-weight: 600;
              }

              .tableHistory{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .title{
                  color: white;
                  text-transform: uppercase;
                  font-size: 15px;
                }
                .table{
                  background: none;
                  border-radius: 30px;

                  thead{
                    border: solid 1px #4a4a4a;
                    border-radius: 30px;
                    th{
                      background: none;
                      color: #fadc34;
                    }
                  }

                  tbody{
                    border:  solid 1px #4a4a4a;
                    tr{
                      td{
                        background: none;
                        color: white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.bodyInformation{
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 95vh;
  overflow-y: auto;
  .info{
    padding: 15px 0px;
    gap: 10px;
    align-items: center;
    .avatar{
      width: 74px;
      height: 74px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .name{
      &_class{
        display: flex;
        gap: 50px;
        padding-bottom: 8px;
        .user{
          color: black;
          font-size: 16px;
          font-weight: 700;
        }
        .hang{
          width: 72px;
          height: 24px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      &_note{
        font-size: 12px;
      }
    }
  }
  .address{
    .item{
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid rgba(0, 0, 0, 0.098);
      &.phone{
        border-bottom: none;
      }
      &-left{
        display: flex;
        gap: 10px;
        img{
          width: 24px;
          height: 24px;
        }
        .text{
          font-size: 16px;
          font-weight: 700;
        }
      }
      &-right{
        font-size: 16px;
      }
      &-hollow{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .infoVip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .vip_level{
      font-size: 12px;
      color: black;
      padding: 5px 30px;
      border-radius: 16px;
      border: none;
      background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
      font-weight: 500;
    }
    .vip_name{
      font-size: 16px;
    }
  }
  .level{
    padding: 10px;
    border-radius: 4px;
    background: white;
    &-top{
      justify-content: space-between;
      align-items: center;
      &-left{
        .clock{
          font-size: 16px;
          padding: 0px 4px;
          border-radius: 4px;
          color: white;
          background: rgba(255, 198, 0, 1);
          width: fit-content;
        }
        .member{
          font-size: 24px;
          font-weight: 700;
          color: rgba(255, 198, 0, 1);
          width: 60%;
        }
        .condition{
          font-size: 16px;
          .bold{
            font-weight: 700;
          }
        }
      }
      &-right{
        width: 95px;
        height: 93px;
      }
    }
    &-bottom{
      margin-top: 20px;
      .text{
        display: flex;
        justify-content: space-between;
        .text1{
          font-size: 16px;
        }
        .number{
          font-size: 16px;
          span{
            color: rgba(255, 198, 0, 1);
          }
        }
      }
      .percent{
        height: 11px;
        border-radius: 8px;
        background: rgba(217, 217, 217, 1);

      }
    }
  }
  .myAccount{
    margin-top: 30px;
    .title{
      font-size: 16px;
      font-weight: 700;
      padding-left: 5px;
      border-left: 2px solid black;
      margin-bottom: 15px;
    }
    .list{
      .item{
        display: flex;
        align-items: center;
        gap: 5px;
        img{
          width: 24px;
          height: 24px;
          border-radius: 50px;
        }
        .item-content{
          .number{
            font-size: 16px;
            font-weight: 700;
            color: rgba(255, 198, 0, 1);
          }
          .text{
            font-size: 13px;
          }
        }
      }
      .itemPrice{
        background: white;
        padding: 8px;
        border-radius: 4px;
        font-size: 13px;
        margin-bottom: 10px;
        span{
          color: rgba(255, 198, 0, 1);
        }
      }
    }
  }
}
.bodyAddfriend{
  background: rgba(255, 255, 255, 0.97);
  height: 94vh;
  overflow-y: auto;
  .sale{
    gap: 60px;
    background: white;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 198, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left{
      display: flex;
      align-items: center;
      gap: 10px;
      &--icon{
        width: 24px;
        height: 24px;
      }
      &--text{
        font-size: 12px;
        &--top{
          display: flex;
          justify-content: space-between;
          font-weight: 500;
        }
        &--bottom{
          font-weight: 400;
        }
      }
    }
    &-right{
      button{
        border: none;
        font-size: 12px;
        color: white;
        background: rgba(237, 131, 129, 1);
        border-radius: 16px;
        padding: 4px 8px;
      }
      a{
        i{
          width: 24px;
          height: 24px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  .member{
    border: none;
  }
  .linkQR{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &-title{
      font-size: 24px;
      font-weight: 700;
      color: rgba(210, 0, 0, 1);
    }
    &-title-small{
      font-size: 12px;
      font-weight: 600;
      color: black;
    }
    img{
      width: 163px;
      height: 163px;
    }
  }
  .footerAddfriend{
    margin-top: 40px;
    button{
      padding: 8px;
      background: white;
      border: 1px solid rgba(0, 0, 0, 0.098);
      font-size: 16px;
    }
  }
}
.bodyNotification{
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 95vh;
  overflow-y: auto;
  .title{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.098);
    background: white;
    .recharge{
      white-space: normal;
      padding: 8px;
      &.active{
        font-weight: 700;
        color: rgba(255, 198, 0, 1);
        text-decoration: none;
        border-bottom: 2px solid rgba(255, 198, 0, 1);
      }
    }
    button{
      white-space: nowrap;
      width: 100%;
      font-size: 14px;
      color: black;;
      text-transform: none;
      &.active{
        color: rgba(255, 198, 0, 1);
        border: none;
        text-decoration: underline;
        background: none;
      }
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content-hollow{
      &.active{
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    img{
      width: 100%;
      height: auto;
    }
    .text{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
    .notification-item{
      background: white;
      padding: 16px;
      align-items: center;
      .notification-left{
        .big{
          font-size: 12px;
          font-weight: 700;
        }
        .small{
          font-size: 12px;
          width: 90%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .notification-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        .date{
          font-size: 12px;
        }
        .time{
          font-size: 12px;
        }
      }
    }
    .method-icon{
      .item{
        background: white;
        position: relative;
        width: 100%;
        border: 1px solid rgb(255, 198, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;
        margin-top: 20px;
        border-radius: 8px;
        .img-icon{
          width: 24px;
          height: 24px;
          margin-bottom: 5px;
        }
        .top-left{
          position: absolute;
          top: -3px;
          left: -5px;

        }
        .name{
          font-size: 12px;
          font-weight: 500;
        }
        .top-left-text{
          position: absolute;
          top: 3px;
          left: -5px;
          transform: rotate(-30deg);
          font-size: 10px;
          color: white;
        }
        .bottom-right{
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    .method-text{
      border-radius: 8px;
      padding: 16px;
      margin-top: 25px;
      background: white;
      &-title{
        font-size: 16px;
        font-weight: 600;
      }
      .checkbox{
        .form-check{
          font-weight: 500;
          margin: 10px 0;
          &-input{
            width: 24px;
            height: 24px;
            box-shadow: none;
            border-color: rgba(100, 116, 139, 1);
            &:checked{
              border-color: rgb(255, 198, 0);
              &:after{
                background: rgb(255, 198, 0);
                color: rgb(255, 198, 0);
              }
            }
            &:before{
              box-shadow: none;
            }
            &:after{
              background: none;
            }
          }
          &-label{

          }
        }
      }
    }
    .method-number{
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 8px;
      padding: 16px;
      margin-top: 25px;
      background: white;
      .import-number{
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        &-text{
          font-size: 16px;
          font-weight: 500;
          color: black;
          white-space: nowrap;
        }
        input{
          border: 1px solid rgba(255, 198, 0, 1);
          border-radius: 8px;
          height: 32px;
          &::placeholder{
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      .result1{
        font-weight: 500;
        font-size: 16px;
      }
      .result2{
        font-weight: 500;
        font-size: 16px;
      }
    }
    .method-button{
      width: 100%;
      border: none;
      margin-top: 30px;
      padding: 8px;
      border-radius: 100px;
      font-size: 16px;
      background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
    }
  }
}
.bodyRecord{
  background: rgba(172, 172, 172, 1);
  min-height: 94vh;
  overflow-y: auto;
  .formRecord{
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    background: white;
    .text{
      font-size: 16px;
      font-weight: 700;
      color: black;
      margin: 10px 0;
    }
    .bodyRecord-I{
      margin-top: 20px;
      .input{
        input{
          font-size: 12px;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.098);
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .bodyRecord-II{
      margin-top: 20px;
      .input{
        gap: 5px;
        align-items: center;
        font-size: 12px;
        input{
          font-size: 12px;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.098);
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .footerRecord{
      margin-top: auto;
      .reset{
        background: rgba(0, 0, 0, 0.698);
        font-size: 12px;
        color: white;
        border: none;
        padding: 8px 0;
      }
      .next{
        background: rgba(255, 234, 164, 1);
        font-size: 12px;
        color: black;
        border: none;
        padding: 8px 0;
      }
    }
  }
}
.bodyCSKH{
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    border-left: 2px solid rgba(210, 0, 0, 1);
  }
  .list{
    .name{
      img{
        width: 24px;
        height: 24px;
      }
      font-size: 16px;
      font-weight: 500;
      color: black;
    }
    .content{
      display: flex;
      flex-direction: column;
      gap: 15px;
      &-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .icon{
          img{
            width: 24px;
            height: 24px;
          }
        }
        .text{
          color: rgba(255, 0, 0, 1);
          font-size: 16px;
          font-weight: 500;
        }
      }
      &-bottom{
        font-size: 12px;
        font-weight: 400;
        color: black;
      }
    }
  }
}
.bodyCSKH_Form{
  background: rgba(255, 255, 255, 0.97);
  min-height: 94vh;
  overflow-y: auto;
  .name{
    margin-top: 20px;
    font-size: 16px;
    color: #040F1C;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.098);
  }
  .noidung{
    margin-top: 20px;
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.098);
    height: 20vh;
    overflow-y: auto;
  }
  .img{
    margin-top: 20px;
    .text{
      font-size: 16px;
      font-weight: 700;
      color: black;
    }
    a{
      margin-top: 20px;
      i{
        color: rgba(0, 0, 0, 0.098);
        border: 1px solid rgba(0, 0, 0, 0.098);
        background: white;
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 48px;
        font-weight: 300;
        margin: 20px 0;
      }
    }
  }
  button{
    background: rgba(203, 21, 21, 1);
    border: none;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    border-radius: 8px;
    padding: 4px 0;
  }
}
.bodyPass{
  background: rgba(255, 255, 255, 0.97);
  min-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .icon-footer{
    margin-top: 30px;
    display: flex;
    justify-content: right;
    img{
      width: 24px;
      height: 24px;
    }
  }
  .logout{
    display: flex;
    margin: 30px auto;
    color: black;
    font-size: 16px;
    background: rgba(237, 131, 129, 1);
    border-radius: 100px;
    padding: 5px 15px;
    border: none;
  }
  .link-pass{
    background: white;
    padding: 15px;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.098);
    &-left{
      font-size: 12px;
      font-weight: 700;
    }
    &-right{
      align-items: center;
      display: flex;
      gap: 10px;
      .text{
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.698);
      }
      i{
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.698);
      }
    }
  }
  &-form{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  .suggestModal{
    &-dialog{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 92vh;
      max-width: 343px;
      margin: auto;
      &-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        align-items: center;
        .modal-header{
          padding: 0;
          font-size: 16px;
          font-weight: 500;
          border: none;
          color: black;
        }
        .modal-body{
          display: flex;
          text-align: center;
          padding: 0;
          font-size: 16px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.4);
          border: none;
        }
        .modal-footer{
          padding: 0;
          font-size: 16px;
          font-weight: 500;
          border: none;
          button{
            color: rgba(0, 141, 220, 1);
            background: none;
          }
        }
      }
    }
  }
  .form-pass{
    padding: 10px 0;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.098);
    &-text{
      font-size: 14px;
      font-weight: 600;
      color: #040F1C;
    }
    &-input{
      padding: 0;
      display: flex;
      align-items: center;
      input{
        width: 85%;
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        border: none;
        &:focus-visible{
          border: none;
        }
      }
      i{
        width: 10%;
        color: rgba(0, 0, 0, 0.4);
        font-size: 24px;

      }
    }
    .form-add-account{
      padding: 0;
      display: flex;
      align-items: center;
      input {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: black;
        border: none;
        &:focus-visible, &:focus{
          border: none;
          outline: none;
        }
      }
      &.bold{
        input{
          font-weight: 600;
        }
      }
    }
  }
  .margin{
    margin-bottom: 30px;
  }
  .button-check{
    color: black;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 16px;
    background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
    border: none;
  }
  .problem{
    margin-top: 10px;
    font-size: 12px;
    color: black;
    display: flex;
    justify-content: center;
  }
  .surplus{
    background: white;
    padding: 15px 0;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    &-left{
      .top{
        display: flex;
        align-items: center;
        gap: 15px;
        .text{
          font-size: 16px;
          font-weight: 600;
        }
        img{
          width: 16px;
          height: 16px;
        }
      }
      .bottom{
        font-size: 24px;
        font-weight: 600;
      }
    }
    &-right{
      color: black;
      padding: 0 10px;
      font-weight: 500;
      height: fit-content;
      font-size: 12px;
      background: rgba(255, 198, 0, 1);
      border-radius: 100px 0 0 100px;
    }
  }
  .tableContent{
    padding-bottom: 20px;
    background: white;
    .list{
      border: 1px solid white!important;
      .item{
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.298);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        padding: 8px 0;
        .text{
        }
        .number{
        }
      }
    }
  }
  .method{
    border: none;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
  }
  .docs{
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .list-method{
    background: white;
    display: flex;
    flex-direction: column;
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    &.active {
      transition: right 0.9s ease-in-out, opacity 0.5s ease-in-out;
      bottom: 0;
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
    .item{
      width: 100%;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.098);
      color: black;
      font-size: 16px;
      padding: 10px;
      display: flex;
      margin: auto;
    }
  }
  .close-method{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    transition: 0.5s;
    right: 0;
    &.active{
      height: 94vh;
      z-index: 1;
    }
  }
  .accountBank{
    margin-top: 30px;
    border-radius: 8px;
    &-header{
      border-radius: 8px 8px 0 0;
      padding: 8px;
      font-size: 12px;
      background: rgba(255, 198, 0, 1);
      display: flex;
      text-align: center;
      justify-content: center;
    }
    &-body{
      border-radius: 0 0 8px 8px;
      background: white;
      display: flex;
      justify-content: center;
      button{
        font-size: 16px;
        border: none;
        background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
        border-radius: 50px;
        margin: 35px 0 15px 0;
        padding: 5px 8px;
      }
    }
  }
}
.bodyPromotion{
  background: rgba(255, 255, 255, 0.97);
  min-height: 95vh;
  overflow-y: auto;
  .item{
    margin-top: 15px;
    background: white;
    padding: 8px;
    border-radius: 8px;
    &-top{
      padding: 10px 0;
      display: flex;
      gap: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.098);
      &-left{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        img{
          margin: 8px;
          width: 24px;
          height: 24px;
        }
        &.bai{
          background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
        }
        &.big{
          background: linear-gradient(0deg, #FF4820 0%, #ED8381 100%);
        }
        &.fish{
          background: linear-gradient(0deg, #01BEC8 0%, #10C49D 100%);
        }
        &.ace{
          background: linear-gradient(0deg, #12B347 0%, #99FBA9 100%);
        }
        &.sale{
          background: linear-gradient(0deg, #FFC600 0%, #FFEAA4 100%);
        }
        &.moneys{
          background: linear-gradient(0deg, #CB1515 0%, #ED8381 100%);
        }
      }
      &-right{
        .name{
          width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 500;
          color: black;
        }
        .content{
          font-size: 12px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    &-bottom{
      padding: 10px 0;
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
    }
  }
}
.body-Promotion{
  background: rgba(255, 255, 255, 0.97);
  min-height: 95vh;
  overflow-y: auto;
  .title{
    display: flex;
    overflow-x: auto;
    .nav-item{
      text-transform: none;
    }
  }
}



//POPUP
.popupLogin{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 430px;
  margin: 0 auto;
  background: rgba(70, 70, 70, 1);
  .modal-dialog{
  }
}


//FOOTER
.footer{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 430px;
  .style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: black;
    border-radius: 25px 25px 0px 0px;
    padding: 10px 0;
    a{
      img{
        width: 24px;
        height: 24px;
        padding-bottom: 5px;
        object-fit: contain;
      }
      p{
        font-size: 12px;
        margin: 0;
        color: white;
      }
      &.active{
        img{
          filter: sepia(1) hue-rotate(318deg) saturate(700) brightness(1.3);
        }
        p{
          color: rgba(255, 198, 0, 1);
        }
      }
    }
    &.footerVip{
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
