body {
  color: black;
  padding-right: 0 !important;
  max-width: 430px;
  background: rgba(0, 0, 0, 0.098);
  margin: 0 auto;
  position: relative;
  font-family: Montserrat;
}

.background {
  background: black;
  position: relative;
}

.home .modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
  max-width: 300px;
  margin: auto;
}
.home .modal-dialog .modal-content {
  background-color: transparent;
}
.home .modal-dialog .modal-content .modal-body {
  padding: 0px;
}
.home .modal-dialog .modal-content .modal-body .swiper-slide {
  height: 64vh;
  width: auto;
}
.home .modal-dialog .modal-content .modal-body .swiper-slide img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 7px;
}
.home .modal-dialog .modal-content .modal-body .swiper-pagination .swiper-pagination-bullet {
  background: rgb(217, 217, 217);
}
.home .modal-dialog .modal-content .modal-body .swiper-pagination .swiper-pagination-bullet-active {
  background: rgb(255, 229, 0);
}
.home .modal-dialog .modal-content .modal-footer {
  border-top: none;
  justify-content: center;
}
.home .modal-dialog .modal-content .modal-footer button {
  background: transparent;
  padding: 0;
}

.Information, .Reward {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}

.header {
  position: relative;
  background: black;
}
.header.header-Information {
  background: rgba(68, 64, 64, 0.8);
}
.header.header-Information .header-left i {
  font-size: 16px;
}
.header.header-Information .header-right .logo {
  font-size: 16px;
}
.header.header-Setting {
  background: white;
}
.header.header-Setting .header-left i {
  color: black;
  font-size: 16px;
}
.header.header-Setting .header-right .logo {
  color: black;
  font-weight: 700;
  font-size: 16px;
}
.header.headerReward {
  padding: 10px 16px;
  background: rgba(68, 64, 64, 0.8);
  display: flex;
  justify-content: space-between;
}
.header.headerReward .headerReward-left a i {
  color: white;
  font-size: 16px;
}
.header.headerReward .headerReward-center {
  font-size: 16px;
  color: white;
}
.header.headerReward .headerReward-right .madoi {
  font-size: 12px;
  color: black;
  padding: 8px;
  border-radius: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
  box-shadow: none;
}
.header.headerReward .headerReward-right .modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
  max-width: 343px;
  margin: auto;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content {
  border-radius: 16px;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-header {
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(180deg, #FFDD69 0%, #FFA720 100%);
  color: black;
  border-radius: 16px 16px 0px 0px;
  padding: 8px;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-header h5 {
  margin: auto;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-body {
  padding-bottom: inherit;
  border: none;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-body input {
  background: rgba(0, 0, 0, 0.098);
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-footer {
  border: none;
  display: flex;
  justify-content: center;
}
.header.headerReward .headerReward-right .modal-dialog .modal-content .modal-footer button {
  text-transform: none;
  display: flex;
  justify-content: center;
  width: 80%;
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  color: black;
}
.header.headerReward .headerReward-right .loc {
  font-size: 12px;
  color: white;
}
.header-left {
  position: absolute;
  top: 15%;
  left: 2%;
  align-items: start;
}
.header-left .position {
  position: relative;
}
.header-left .position a i {
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 18px;
  opacity: 0.7;
}
.header-left .position i {
  font-size: 16px;
  color: white;
}
.header-left .position .menu {
  position: absolute;
  top: -5px;
  left: 100%;
  height: 100vh;
  width: 270px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.header-left .position .menu.active {
  transition: right 0.9s ease-in-out, opacity 0.5s ease-in-out;
  left: -8px;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.header-left .position .menu .list {
  position: fixed;
  height: 100vh;
  width: 270px;
}
.header-left .position .menu .list .menu-header {
  background: #332d2d;
  height: 16vh;
}
.header-left .position .menu .list .menu-body {
  overflow-y: auto;
  height: inherit;
  background: white;
  display: flex;
  flex-direction: column;
}
.header-left .position .menu .list .menu-body .item {
  padding: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.header-right {
  padding: 8px 0;
  align-items: center;
}
.header-right .logo {
  color: white;
  display: flex;
  margin: auto;
}
.header-right .logo.user {
  color: white;
  font-size: 16px;
}
.header-right .logo a img {
  height: 20px;
  width: 100%;
}
.header-bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0980392) 0%, rgba(0, 0, 0, 0.0980392) 50.47%, rgba(255, 255, 255, 0.0980392) 100%);
  padding: 8px 0;
  gap: 20px;
  align-items: center;
}
.header-bottom-avt .avt {
  width: 74px;
  height: 74px;
}
.header-bottom-avt .avt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.header-bottom-login, .header-bottom-signIn {
  display: flex;
  text-align: center;
}
.header-bottom-login a, .header-bottom-signIn a {
  white-space: nowrap;
  height: max-content;
  border-radius: 16px;
  font-size: 12px;
  color: black;
  width: 100%;
}
.header-bottom-login a {
  padding: 5px;
  background: linear-gradient(0deg, #FFCF2C 0%, #FFFFFF 50%, #FFCF2C 100%);
}
.header-bottom-signIn a {
  padding: 5px 15px;
  background: linear-gradient(0deg, #ED8381 0%, #FFFFFF 50%, #ED8381 100%);
}
.header-bottom .info {
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}
.header-bottom .info-left {
  gap: 10px;
  display: flex;
  align-items: center;
}
.header-bottom .info-left .avatar {
  width: 74px;
  height: 74px;
}
.header-bottom .info-left .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.header-bottom .info-left .name_class {
  display: flex;
  gap: 20px;
  padding-bottom: 8px;
}
.header-bottom .info-left .name_class .user {
  color: rgb(255, 198, 0);
  font-size: 16px;
}
.header-bottom .info-left .name_class .hang {
  width: 72px;
  height: 24px;
}
.header-bottom .info-left .name_class .hang img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-bottom .info-left .name_note {
  color: white;
  font-size: 12px;
}
.header-bottom .info .notification {
  background: rgba(255, 255, 255, 0.098);
  padding: 4px 8px;
  border-radius: 100px;
  align-items: center;
  gap: 8px;
}
.header-bottom .info .notification img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.header-bottom .info .notification .text {
  color: white;
  font-size: 12px;
}
.header .button-icon {
  background: none;
  border: none;
}

.close_menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: 0.5s;
}
.close_menu.active {
  z-index: 1;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 11vh;
}
.body .banner {
  width: 100%;
  height: 14vh;
}
.body .banner img {
  width: 100%;
  height: 100%;
}
.body .news {
  align-items: center;
  gap: 15px;
}
.body .news a {
  color: black;
  background: linear-gradient(270deg, #FFE600 0%, #FFBE1A 100%);
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 4px;
}
.body .news-content {
  font-size: 12px;
  color: white;
}
.body .function {
  align-items: center;
}
.body .function.function-user {
  border-radius: 4px;
  margin: 15px 0px 0px 0px;
  padding: 10px 0;
  background: rgb(36, 36, 36);
}
.body .function-login, .body .function-signIn {
  white-space: nowrap;
  display: flex;
  text-align: center;
}
.body .function-login button, .body .function-signIn button {
  height: max-content;
  border-radius: 16px;
  font-size: 12px;
  color: black;
  width: 100%;
}
.body .function-login .login {
  text-transform: none;
  padding: 5px 3px;
  background: linear-gradient(0deg, #FFCF2C 0%, #FFFFFF 50%, #FFCF2C 100%);
}
.body .function-signIn .signIn {
  text-transform: none;
  padding: 5px;
  background: linear-gradient(0deg, #ED8381 0%, #FFFFFF 50%, #ED8381 100%);
}
.body .function-recharge a, .body .function-withdrawMoney a, .body .function-reward a, .body .function-addFriend a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .function-recharge a .img, .body .function-withdrawMoney a .img, .body .function-reward a .img, .body .function-addFriend a .img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .function-recharge a .img img, .body .function-withdrawMoney a .img img, .body .function-reward a .img img, .body .function-addFriend a .img img {
  width: 16px;
  height: 16px;
}
.body .function-recharge a .content, .body .function-withdrawMoney a .content, .body .function-reward a .content, .body .function-addFriend a .content {
  white-space: nowrap;
  font-size: 12px;
  color: white;
}
.body .function-recharge a .img {
  background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
}
.body .function-withdrawMoney a .img {
  background: linear-gradient(180.59deg, #536EFF -34.55%, #191E93 99.49%);
}
.body .function-reward a .img, .body .function-addFriend a .img {
  background: linear-gradient(0deg, #12B347 0%, #3EFF3A 100%);
}
.body .suggest-name {
  padding: 10px 0;
  display: flex;
  gap: 15px;
}
.body .suggest-name .hot {
  border-bottom: 2px solid rgb(255, 198, 0);
  text-transform: uppercase;
  color: rgb(255, 198, 0);
  font-size: 16px;
  font-weight: 500;
}
.body .suggest-name .play-regularly {
  font-size: 16px;
  color: white;
}
.body .suggest-list .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .suggest-list .item a .img {
  height: 11vh;
}
.body .suggest-list .item a .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.body .suggest-list .item a .name {
  font-size: 12px;
  max-width: 53px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.body .categories-name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.body .categories-name .nav-item .nav-link {
  width: 100%;
  height: 12vh;
  padding: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background: rgb(42, 42, 42);
  border: none;
}
.body .categories-name .nav-item .nav-link.active {
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
}
.body .categories-name .nav-item .nav-link.active .img img {
  filter: sepia(1) hue-rotate(300deg) saturate(4) brightness(0.2);
}
.body .categories-name .nav-item .nav-link.active .name {
  color: rgb(42, 42, 42);
}
.body .categories-name .nav-item .nav-link .img {
  width: 32px;
  height: 32px;
}
.body .categories-name .nav-item .nav-link .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.body .categories-name .nav-item .nav-link .name {
  white-space: nowrap;
  color: rgb(255, 234, 164);
}
.body .categories-content .item {
  padding: 10px;
}
.body .categories-content .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .categories-content .item a .img {
  width: 100%;
  margin-bottom: 5px;
}
.body .categories-content .item a .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 6px;
}
.body .categories-content .item a .name {
  font-size: 10px;
  color: white;
}
.body .total-refund {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 10px 20px;
  background: rgb(36, 36, 36);
}
.body .total-refund-left {
  display: flex;
  gap: 8px;
  align-items: center;
}
.body .total-refund-left .logo {
  width: 32px;
  height: 32px;
}
.body .total-refund-left .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body .total-refund-left .text {
  color: white;
  font-size: 12px;
}
.body .total-refund-left .text img {
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
.body .total-refund-right a {
  font-weight: 500;
  padding: 8px;
  border-radius: 16px;
  font-size: 12px;
  color: black;
  background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
}
.body .my-account {
  margin-top: 30px;
}
.body .my-account .title {
  padding-left: 10px;
  color: white;
  font-size: 16px;
  border-left: 2px solid white;
  margin-bottom: 20px;
}
.body .my-account .content {
  border-radius: 4px;
  padding: 10px 20px;
  background: rgb(36, 36, 36);
  margin-top: 5px;
}
.body .my-account .content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.body .my-account .content .item .img {
  width: 32px;
  height: 32px;
}
.body .my-account .content .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body .my-account .content .item .first-two-words {
  display: block;
}
.body .my-account .content .item .textDown {
  display: inline-block;
  color: white;
  font-size: 12px;
}
.body .service {
  margin-top: 20px;
}
.body .service .title {
  padding-left: 10px;
  color: white;
  font-size: 16px;
  border-left: 2px solid white;
  margin-bottom: 20px;
}
.body .service .content {
  border-radius: 4px;
  margin-top: 5px;
}
.body .service .content .item {
  height: 12vh;
  margin-bottom: 20px;
  border-radius: 8px;
  background: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.body .service .content .item .img {
  width: 32px;
  height: 32px;
}
.body .service .content .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body .service .content .item .first-two-words {
  display: block;
}
.body .service .content .item .textDown {
  display: inline-block;
  color: white;
  font-size: 12px;
}

.bodyInformation {
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 95vh;
  overflow-y: auto;
}
.bodyInformation .info {
  padding: 15px 0px;
  gap: 10px;
  align-items: center;
}
.bodyInformation .info .avatar {
  width: 74px;
  height: 74px;
}
.bodyInformation .info .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.bodyInformation .info .name_class {
  display: flex;
  gap: 50px;
  padding-bottom: 8px;
}
.bodyInformation .info .name_class .user {
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.bodyInformation .info .name_class .hang {
  width: 72px;
  height: 24px;
}
.bodyInformation .info .name_class .hang img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bodyInformation .info .name_note {
  font-size: 12px;
}
.bodyInformation .address .item {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.098);
}
.bodyInformation .address .item.phone {
  border-bottom: none;
}
.bodyInformation .address .item-left {
  display: flex;
  gap: 10px;
}
.bodyInformation .address .item-left img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.bodyInformation .address .item-left .text {
  font-size: 16px;
  font-weight: 700;
}
.bodyInformation .address .item-right {
  font-size: 16px;
}
.bodyInformation .address .item-hollow {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.bodyInformation .infoVip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyInformation .infoVip .vip_level {
  font-size: 12px;
  color: black;
  padding: 5px 30px;
  border-radius: 16px;
  border: none;
  background: linear-gradient(0deg, #FF9A01 0%, #FFCF2C 100%);
  font-weight: 500;
}
.bodyInformation .infoVip .vip_name {
  font-size: 16px;
}
.bodyInformation .level {
  padding: 10px;
  border-radius: 4px;
  background: white;
}
.bodyInformation .level-top {
  justify-content: space-between;
  align-items: center;
}
.bodyInformation .level-top-left .clock {
  font-size: 16px;
  padding: 0px 4px;
  border-radius: 4px;
  color: white;
  background: rgb(255, 198, 0);
  width: fit-content;
}
.bodyInformation .level-top-left .member {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 198, 0);
  width: 60%;
}
.bodyInformation .level-top-left .condition {
  font-size: 16px;
}
.bodyInformation .level-top-left .condition .bold {
  font-weight: 700;
}
.bodyInformation .level-top-right {
  width: 95px;
  height: 93px;
}
.bodyInformation .level-bottom {
  margin-top: 20px;
}
.bodyInformation .level-bottom .text {
  display: flex;
  justify-content: space-between;
}
.bodyInformation .level-bottom .text .text1 {
  font-size: 16px;
}
.bodyInformation .level-bottom .text .number {
  font-size: 16px;
}
.bodyInformation .level-bottom .text .number span {
  color: rgb(255, 198, 0);
}
.bodyInformation .level-bottom .percent {
  height: 11px;
  border-radius: 8px;
  background: rgb(217, 217, 217);
}
.bodyInformation .myAccount {
  margin-top: 30px;
}
.bodyInformation .myAccount .title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 5px;
  border-left: 2px solid black;
  margin-bottom: 15px;
}
.bodyInformation .myAccount .list .item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bodyInformation .myAccount .list .item img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50px;
}
.bodyInformation .myAccount .list .item .item-content .number {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 198, 0);
}
.bodyInformation .myAccount .list .item .item-content .text {
  font-size: 13px;
}
.bodyInformation .myAccount .list .itemPrice {
  background: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  margin-bottom: 10px;
}
.bodyInformation .myAccount .list .itemPrice span {
  color: rgb(255, 198, 0);
}

.bodyAddfriend {
  background: rgba(255, 255, 255, 0.97);
  height: 94vh;
  overflow-y: auto;
}
.bodyAddfriend .sale {
  gap: 60px;
  background: white;
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(255, 198, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bodyAddfriend .sale-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bodyAddfriend .sale-left--icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.bodyAddfriend .sale-left--text {
  font-size: 12px;
}
.bodyAddfriend .sale-left--text--top {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.bodyAddfriend .sale-left--text--bottom {
  font-weight: 400;
}
.bodyAddfriend .sale-right button {
  border: none;
  font-size: 12px;
  color: white;
  background: rgb(237, 131, 129);
  border-radius: 16px;
  padding: 4px 8px;
}
.bodyAddfriend .sale-right a i {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.4);
}
.bodyAddfriend .member {
  border: none;
}
.bodyAddfriend .linkQR {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.bodyAddfriend .linkQR-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(210, 0, 0);
}
.bodyAddfriend .linkQR-title-small {
  font-size: 12px;
  font-weight: 600;
  color: black;
}
.bodyAddfriend .linkQR img {
  width: 163px;
  height: 163px;
  object-fit: cover;
}
.bodyAddfriend .footerAddfriend {
  margin-top: 40px;
}
.bodyAddfriend .footerAddfriend button {
  padding: 8px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.098);
  font-size: 16px;
}

.bodyNotification {
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 95vh;
  overflow-y: auto;
}
.bodyNotification .title {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  background: white;
}
.bodyNotification .title .recharge {
  white-space: normal;
  padding: 8px;
}
.bodyNotification .title .recharge.active {
  font-weight: 700;
  color: rgb(255, 198, 0);
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 198, 0);
}
.bodyNotification .title button {
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  color: black;
  text-transform: none;
}
.bodyNotification .title button.active {
  color: rgb(255, 198, 0);
  border: none;
  text-decoration: underline;
  background: none;
}
.bodyNotification .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyNotification .content .content-hollow.active {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyNotification .content img {
  width: 100%;
  height: auto;
}
.bodyNotification .content .text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.bodyNotification .content .notification-item {
  background: white;
  padding: 16px;
  align-items: center;
}
.bodyNotification .content .notification-item .notification-left .big {
  font-size: 12px;
  font-weight: 700;
}
.bodyNotification .content .notification-item .notification-left .small {
  font-size: 12px;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bodyNotification .content .notification-item .notification-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyNotification .content .notification-item .notification-right .date {
  font-size: 12px;
}
.bodyNotification .content .notification-item .notification-right .time {
  font-size: 12px;
}
.bodyNotification .content .method-icon .item {
  background: white;
  position: relative;
  width: 100%;
  border: 1px solid rgb(255, 198, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 8px;
}
.bodyNotification .content .method-icon .item .img-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.bodyNotification .content .method-icon .item .top-left {
  position: absolute;
  top: -3px;
  left: -5px;
}
.bodyNotification .content .method-icon .item .name {
  font-size: 12px;
  font-weight: 500;
}
.bodyNotification .content .method-icon .item .top-left-text {
  position: absolute;
  top: 3px;
  left: -5px;
  transform: rotate(-30deg);
  font-size: 10px;
  color: white;
}
.bodyNotification .content .method-icon .item .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.bodyNotification .content .method-text {
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
  background: white;
}
.bodyNotification .content .method-text-title {
  font-size: 16px;
  font-weight: 600;
}
.bodyNotification .content .method-text .checkbox .form-check {
  font-weight: 500;
  margin: 10px 0;
}
.bodyNotification .content .method-text .checkbox .form-check-input {
  width: 24px;
  height: 24px;
  box-shadow: none;
  border-color: rgb(100, 116, 139);
}
.bodyNotification .content .method-text .checkbox .form-check-input:checked {
  border-color: rgb(255, 198, 0);
}
.bodyNotification .content .method-text .checkbox .form-check-input:checked:after {
  background: rgb(255, 198, 0);
  color: rgb(255, 198, 0);
}
.bodyNotification .content .method-text .checkbox .form-check-input:before {
  box-shadow: none;
}
.bodyNotification .content .method-text .checkbox .form-check-input:after {
  background: none;
}
.bodyNotification .content .method-number {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
  background: white;
}
.bodyNotification .content .method-number .import-number {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
.bodyNotification .content .method-number .import-number-text {
  font-size: 16px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}
.bodyNotification .content .method-number .import-number input {
  border: 1px solid rgb(255, 198, 0);
  border-radius: 8px;
  height: 32px;
}
.bodyNotification .content .method-number .import-number input::placeholder {
  font-size: 16px;
  font-weight: 400;
}
.bodyNotification .content .method-number .result1 {
  font-weight: 500;
  font-size: 16px;
}
.bodyNotification .content .method-number .result2 {
  font-weight: 500;
  font-size: 16px;
}
.bodyNotification .content .method-button {
  width: 100%;
  border: none;
  margin-top: 30px;
  padding: 8px;
  border-radius: 100px;
  font-size: 16px;
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
}

.bodyRecord {
  background: rgb(172, 172, 172);
  min-height: 94vh;
  overflow-y: auto;
}
.bodyRecord .formRecord {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  background: white;
}
.bodyRecord .formRecord .text {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin: 10px 0;
}
.bodyRecord .formRecord .bodyRecord-I {
  margin-top: 20px;
}
.bodyRecord .formRecord .bodyRecord-I .input input {
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.098);
  color: rgba(0, 0, 0, 0.4);
}
.bodyRecord .formRecord .bodyRecord-II {
  margin-top: 20px;
}
.bodyRecord .formRecord .bodyRecord-II .input {
  gap: 5px;
  align-items: center;
  font-size: 12px;
}
.bodyRecord .formRecord .bodyRecord-II .input input {
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.098);
  color: rgba(0, 0, 0, 0.4);
}
.bodyRecord .formRecord .footerRecord {
  margin-top: auto;
}
.bodyRecord .formRecord .footerRecord .reset {
  background: rgba(0, 0, 0, 0.698);
  font-size: 12px;
  color: white;
  border: none;
  padding: 8px 0;
}
.bodyRecord .formRecord .footerRecord .next {
  background: rgb(255, 234, 164);
  font-size: 12px;
  color: black;
  border: none;
  padding: 8px 0;
}

.bodyCSKH {
  padding-bottom: 11vh;
  background: rgba(255, 255, 255, 0.97);
  height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bodyCSKH .title {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  border-left: 2px solid rgb(210, 0, 0);
}
.bodyCSKH .list .name {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.bodyCSKH .list .name img {
  width: 24px;
  height: 24px;
}
.bodyCSKH .list .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.bodyCSKH .list .content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.bodyCSKH .list .content-top .icon img {
  width: 24px;
  height: 24px;
}
.bodyCSKH .list .content-top .text {
  color: rgb(255, 0, 0);
  font-size: 16px;
  font-weight: 500;
}
.bodyCSKH .list .content-bottom {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.bodyCSKH_Form {
  background: rgba(255, 255, 255, 0.97);
  min-height: 94vh;
  overflow-y: auto;
}
.bodyCSKH_Form .name {
  margin-top: 20px;
  font-size: 16px;
  color: #040F1C;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.098);
}
.bodyCSKH_Form .noidung {
  margin-top: 20px;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.098);
  height: 20vh;
  overflow-y: auto;
}
.bodyCSKH_Form .img {
  margin-top: 20px;
}
.bodyCSKH_Form .img .text {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.bodyCSKH_Form .img a {
  margin-top: 20px;
}
.bodyCSKH_Form .img a i {
  color: rgba(0, 0, 0, 0.098);
  border: 1px solid rgba(0, 0, 0, 0.098);
  background: white;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 48px;
  font-weight: 300;
  margin: 20px 0;
}
.bodyCSKH_Form button {
  background: rgb(203, 21, 21);
  border: none;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  border-radius: 8px;
  padding: 4px 0;
}

.bodyPass {
  background: rgba(255, 255, 255, 0.97);
  min-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.bodyPass .icon-footer {
  margin-top: 30px;
  display: flex;
  justify-content: right;
}
.bodyPass .icon-footer img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.bodyPass .logout {
  display: flex;
  margin: 30px auto;
  color: black;
  font-size: 16px;
  background: rgb(237, 131, 129);
  border-radius: 100px;
  padding: 5px 15px;
  border: none;
}
.bodyPass .link-pass {
  background: white;
  padding: 15px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.098);
}
.bodyPass .link-pass-left {
  font-size: 12px;
  font-weight: 700;
}
.bodyPass .link-pass-right {
  align-items: center;
  display: flex;
  gap: 10px;
}
.bodyPass .link-pass-right .text {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.698);
}
.bodyPass .link-pass-right i {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.698);
}
.bodyPass-form {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.bodyPass .suggestModal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
  max-width: 343px;
  margin: auto;
}
.bodyPass .suggestModal-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  align-items: center;
}
.bodyPass .suggestModal-dialog-content .modal-header {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: black;
}
.bodyPass .suggestModal-dialog-content .modal-body {
  display: flex;
  text-align: center;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  border: none;
}
.bodyPass .suggestModal-dialog-content .modal-footer {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.bodyPass .suggestModal-dialog-content .modal-footer button {
  color: rgb(0, 141, 220);
  background: none;
}
.bodyPass .form-pass {
  padding: 10px 0;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
}
.bodyPass .form-pass-text {
  font-size: 14px;
  font-weight: 600;
  color: #040F1C;
}
.bodyPass .form-pass-input {
  padding: 0;
  display: flex;
  align-items: center;
}
.bodyPass .form-pass-input input {
  width: 85%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  border: none;
}
.bodyPass .form-pass-input input:focus-visible {
  border: none;
}
.bodyPass .form-pass-input i {
  width: 10%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
}
.bodyPass .form-pass .form-add-account {
  padding: 0;
  display: flex;
  align-items: center;
}
.bodyPass .form-pass .form-add-account input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: none;
}
.bodyPass .form-pass .form-add-account input:focus-visible, .bodyPass .form-pass .form-add-account input:focus {
  border: none;
  outline: none;
}
.bodyPass .form-pass .form-add-account.bold input {
  font-weight: 600;
}
.bodyPass .margin {
  margin-bottom: 30px;
}
.bodyPass .button-check {
  color: black;
  margin-top: auto;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 16px;
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
  border: none;
}
.bodyPass .problem {
  margin-top: 10px;
  font-size: 12px;
  color: black;
  display: flex;
  justify-content: center;
}
.bodyPass .surplus {
  background: white;
  padding: 15px 0;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.bodyPass .surplus-left .top {
  display: flex;
  align-items: center;
  gap: 15px;
}
.bodyPass .surplus-left .top .text {
  font-size: 16px;
  font-weight: 600;
}
.bodyPass .surplus-left .top img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.bodyPass .surplus-left .bottom {
  font-size: 24px;
  font-weight: 600;
}
.bodyPass .surplus-right {
  color: black;
  padding: 0 10px;
  font-weight: 500;
  height: fit-content;
  font-size: 12px;
  background: rgb(255, 198, 0);
  border-radius: 100px 0 0 100px;
}
.bodyPass .tableContent {
  padding-bottom: 20px;
  background: white;
}
.bodyPass .tableContent .list {
  border: 1px solid white !important;
}
.bodyPass .tableContent .list .item {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.298);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 0;
}
.bodyPass .method {
  border: none;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
}
.bodyPass .docs {
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
}
.bodyPass .list-method {
  background: white;
  display: flex;
  flex-direction: column;
  color: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.bodyPass .list-method.active {
  transition: right 0.9s ease-in-out, opacity 0.5s ease-in-out;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.bodyPass .list-method .item {
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  color: black;
  font-size: 16px;
  padding: 10px;
  display: flex;
  margin: auto;
}
.bodyPass .close-method {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: 0.5s;
  right: 0;
}
.bodyPass .close-method.active {
  height: 94vh;
  z-index: 1;
}
.bodyPass .accountBank {
  margin-top: 30px;
  border-radius: 8px;
}
.bodyPass .accountBank-header {
  border-radius: 8px 8px 0 0;
  padding: 8px;
  font-size: 12px;
  background: rgb(255, 198, 0);
  display: flex;
  text-align: center;
  justify-content: center;
}
.bodyPass .accountBank-body {
  border-radius: 0 0 8px 8px;
  background: white;
  display: flex;
  justify-content: center;
}
.bodyPass .accountBank-body button {
  font-size: 16px;
  border: none;
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
  border-radius: 50px;
  margin: 35px 0 15px 0;
  padding: 5px 8px;
}

.bodyPromotion {
  background: rgba(255, 255, 255, 0.97);
  min-height: 95vh;
  overflow-y: auto;
}
.bodyPromotion .item {
  margin-top: 15px;
  background: white;
  padding: 8px;
  border-radius: 8px;
}
.bodyPromotion .item-top {
  padding: 10px 0;
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
}
.bodyPromotion .item-top-left {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.bodyPromotion .item-top-left img {
  margin: 8px;
  width: 24px;
  height: 24px;
}
.bodyPromotion .item-top-left.bai {
  background: linear-gradient(0deg, #FFA720 0%, #FFDD69 100%);
}
.bodyPromotion .item-top-left.big {
  background: linear-gradient(0deg, #FF4820 0%, #ED8381 100%);
}
.bodyPromotion .item-top-left.fish {
  background: linear-gradient(0deg, #01BEC8 0%, #10C49D 100%);
}
.bodyPromotion .item-top-left.ace {
  background: linear-gradient(0deg, #12B347 0%, #99FBA9 100%);
}
.bodyPromotion .item-top-left.sale {
  background: linear-gradient(0deg, #FFC600 0%, #FFEAA4 100%);
}
.bodyPromotion .item-top-left.moneys {
  background: linear-gradient(0deg, #CB1515 0%, #ED8381 100%);
}
.bodyPromotion .item-top-right .name {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.bodyPromotion .item-top-right .content {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}
.bodyPromotion .item-bottom {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.popupLogin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 430px;
  margin: 0 auto;
  background: rgb(70, 70, 70);
}
.footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 430px;
}
.footer .style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: black;
  border-radius: 25px 25px 0px 0px;
  padding: 10px 0;
}
.footer .style a img {
  width: 24px;
  height: 24px;
  padding-bottom: 5px;
  object-fit: contain;
}
.footer .style a p {
  font-size: 12px;
  margin: 0;
  color: white;
}
.footer .style a.active img {
  filter: sepia(1) hue-rotate(318deg) saturate(700) brightness(1.3);
}
.footer .style a.active p {
  color: rgb(255, 198, 0);
}
.footer .style.footerVip {
  background: rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=style.css.map */
